page-transaction-details {
    .bg-image {
        background-image: url('../assets/imgs/e-buy.jpg');
        background-repeat: no-repeat;
    
        background-position: center;
        background-size: cover;
        
        
    }
    .no-scroll .scroll-content {
        overflow: hidden;
    }

    .card {
        margin-top: 2em;
        
        
    }

}
