
<ion-header>

  <ion-navbar color="light">
    <ion-title>TV</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="bg-image" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
  <ion-card class="card" color="light">
    <ion-card-content class="card-content">
      <ion-card-title>
        <b>
          TV BOUQUETS
        </b>
      </ion-card-title>


      <ion-list>



            <ion-item>
              <ion-label>
                SELECT A PROVIDER
              </ion-label>
              <ion-select #providers (ionChange)="setDistrictValues(providers.value, providers.text)" [(ngModel)]= "sState">
                <ion-option [value]="s.id" *ngFor="let s of tvServices">{{s.name}}</ion-option>
              </ion-select>
            </ion-item>



          <ion-item>
              <ion-label>SELECT A PACKAGE</ion-label>
                <ion-select  #packageBundle (ionChange)="logText(packageBundle.text, packageBundle.value)" [(ngModel)]="sDistrict">
                  <ion-option [value]="s.id" *ngFor="let s of districts"> {{s.name}} </ion-option>
                </ion-select>
          </ion-item>


          <ion-item>
              <ion-label >Smart Card No.</ion-label>
              <ion-input floating type="number" [(ngModel)]="smartCard"></ion-input>
          </ion-item>

            <!-- <ion-label>Please confirm smartcard number<button (click)="confirmSmart()" clear ion-button color="green">Confirm</button></ion-label> -->

        <ion-item>
            <ion-label >Phone</ion-label>
            <ion-input floating type="number"  placeholder= "09000000000"[(ngModel)]="phone"></ion-input>
          </ion-item>



          <ion-item>
              <ion-label >Email</ion-label>
              <ion-input floating type="email" placeholder="you@email.com" [(ngModel)]="email"></ion-input>
            </ion-item>






              <button (click)="confirm()" ion-button color="green" large block> Confirm</button><br/>


              <!-- <button (click)="resetMe()" ion-button color="danger" large block> Reset</button><br/> -->




      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
