page-tv {
    .bg-image {
       // background-image: url('../assets/imgs/paper-2.jpeg');
        background-repeat: no-repeat;
    
        background-position: center;
        background-size: cover;
        
        
    }
    .no-scroll .scroll-content {
        overflow: hidden;
    }

    .card {
        margin-top: 2em;
        
        
    }
}
