page-order-confirm-data {
    .payBtn {
        display: block;
        background-color: rgb(29, 54, 163);
        color: #ffffff;
        //padding: 15px;
        margin-top: 4px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 4px;
        padding-bottom: 4px;
        height: 57px;
        //width: 100%;
    }

    .bg-image {
        background-image: url('../assets/imgs/e-buy.jpg');
        background-repeat: no-repeat;
    
        background-position: center;
        background-size: cover;
        
        
    }
    .no-scroll .scroll-content {
        overflow: hidden;
    }

    .card {
        margin-top: 2em;
        
        
    }

}
